<div id="<%= dom_id article %>">
  <h4>
    <strong>Title:</strong>
  </h4>
  <p>
    <%= article.title %>
  </p>

  <h4>
    <strong>Description:</strong>
  </h4>
  <p>
    <%= article.description %>
  </p>

</div>
